<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input formControlName="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <div class="error-message" *ngIf="error">
          {{ error }}
        </div>

        <ion-button expand="block" type="submit" [disabled]="!loginForm.valid" class="success-btn">
          Login
        </ion-button>

        <ion-button expand="block" fill="clear" (click)="goToRegister()" class="fail-text">
          Don't have an account? Register here
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
