<ion-header>
  <ion-toolbar>
    <ion-title>{{ symbol }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment
    class="time-responsive"
    [value]="range"
    (ionChange)="changeRange($event)"
    class="ion-margin-bottom"
  >
    <ion-segment-button value="1d">1T</ion-segment-button>
    <ion-segment-button value="1w">1W</ion-segment-button>
    <ion-segment-button value="1m">1M</ion-segment-button>
    <ion-segment-button value="3m">3M</ion-segment-button>
    <ion-segment-button value="6m">6M</ion-segment-button>
    <ion-segment-button value="1y">1J</ion-segment-button>
    <ion-segment-button value="5y">5J</ion-segment-button>
    <ion-segment-button value="max">Max</ion-segment-button>
  </ion-segment>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ symbol }}</ion-card-title>
      <ion-card-subtitle *ngIf="price !== null"
        >Preis: {{ price | currency:'USD' }}</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <div style="height: 260px; width: 100%">
        <canvas #detailChart></canvas>
        <small *ngIf="!chartData?.chart?.result?.length">Lade Chart…</small>
      </div>
      <div class="ion-margin-top">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-note
                >Spannen-Hoch: <b>{{ high | number:'1.2-2' }}</b></ion-note
              >
            </ion-col>
            <ion-col size="6" class="ion-text-right">
              <ion-note
                >Spannen-Tief: <b>{{ low | number:'1.2-2' }}</b></ion-note
              >
            </ion-col>
          </ion-row>
          <ion-row *ngIf="marketCapUsd !== null">
            <ion-col size="12">
              <ion-note
                >Market Cap:
                <b>{{ marketCapUsd | currency:'USD' }}</b></ion-note
              >
            </ion-col>
          </ion-row>
          <ion-row *ngIf="description">
            <ion-col size="12">
              <ion-note>{{ description }}</ion-note>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="lastUpdated">
            <ion-col size="12" class="ion-text-right">
              <ion-note
                >Zuletzt aktualisiert: {{ lastUpdated | date:'short'
                }}</ion-note
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-button expand="block" (click)="openBuy()" color="success">
        <ion-icon name="add-circle" slot="start"></ion-icon>
        Kaufen
      </ion-button>

      <ion-button expand="block" (click)="openSell()" color="danger" class="ion-margin-top ion-danger-btn" [disabled]="!userOwnsAsset">
        <ion-icon name="remove-circle" slot="start"></ion-icon>
        Verkaufen
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
