<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/wallet/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label class="display-text">Startseite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" routerLink="/wallet/tab2">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label class="display-text">Markets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wallet" routerLink="/wallet/wallet">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label class="display-text">Wallet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rewards" routerLink="/wallet/rewards">
      <ion-icon name="gift-outline"></ion-icon>
      <ion-label class="display-text">Rewards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" routerLink="/wallet/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label class="display-text">Einstellungen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- Lucky Wheel Button als Floating Action Button -->
<!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="lucky-wheel-fab">
  <ion-fab-button (click)="openLuckyWheel()" color="warning">
    <ion-icon name="gift"></ion-icon>
  </ion-fab-button>
</ion-fab> -->
