<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        Login
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <br>
      <ion-checkbox labelPlacement="end">
        <ion-label>Remember Me</ion-label>
      </ion-checkbox>
      <br>
      <ion-button expand="block" color="tertiary">Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
