<ion-app>
  <ion-split-pane
  contentId="main-content"
  when="lg"
>
  <ion-menu
   *ngIf="!isAuthRoute"
  contentId="main-content"
  type="push"
  class="app-menu app-container"
  [class.hidden-menu]="isMenuCollapsed"
  >
      <ion-header>
        <ion-toolbar class="menu-toolbar">
          <div class="brand" style="margin-left: 25px;" (click)="toggleMenuCollapsed()">
            <span class="brand-text">Menu</span>
          </div>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="toggleMenuCollapsed()">
              <ion-icon
                [name]="
                  isMenuCollapsed
                    ? 'chevron-forward-outline'
                    : 'chevron-back-outline'
                "
              ></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="display-toolbar">
        <ion-list class="menu-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerLink="/wallet/home"
              routerDirection="root"
              lines="none"
            >
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label *ngIf="!isMenuCollapsed">Startseite</ion-label>
            </ion-item>
            <ion-item
              routerLink="/wallet/tab2"
              routerDirection="root"
              lines="none"
            >
              <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
              <ion-label *ngIf="!isMenuCollapsed">Markets</ion-label>
            </ion-item>
            <ion-item routerLink="/wallet/wallet" routerDirection="root">
              <ion-icon slot="start" name="wallet-outline"></ion-icon>
              <ion-label *ngIf="!isMenuCollapsed">Wallet</ion-label>
            </ion-item>

            <ion-item routerLink="/rewards" routerDirection="root" lines="none">
              <ion-icon slot="start" name="gift-outline"></ion-icon>
              <ion-label *ngIf="!isMenuCollapsed">Daily Rewards</ion-label>
            </ion-item>
            <ion-item
              routerLink="/wallet/settings"
              routerDirection="root"
              lines="none"
            >
              <ion-icon slot="start" name="settings-outline"></ion-icon>
              <ion-label *ngIf="!isMenuCollapsed">Einstellungen</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <div class="menu-footer">
          <ion-button expand="block" class="ion-danger-btn" color="danger" (click)="logout()">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <span *ngIf="!isMenuCollapsed">Abmelden</span>
          </ion-button>
        </div>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-router-outlet></ion-router-outlet>
    </div>
  </ion-split-pane>
</ion-app>
