  <ion-header>
    <ion-toolbar>
      <ion-title>Einstellungen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list class="border-main">
      <ion-item button detail routerLink="/debug">
        <ion-label>Debug</ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="block" class="ion-danger-btn ion-margin-top" color="danger" (click)="logout()">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    <span>Abmelden</span>
  </ion-button>
  </ion-content>

  
